[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dada2"]
	path = dada2
	url = https://github.com/benjjneb/dada2
[submodule "decontam"]
	path = decontam
	url = https://github.com/benjjneb/decontam
